/* Style for div#A */
#A {
    border-color: blueviolet;
    box-shadow: 20px 20px 20px red;
  }
  
  /* Style for div#B */
  #B {
    border-color: lime;
    box-shadow: inset 20px 20px 20px black;
    color: gold;
  }
  
  /* Style for div#C */
  #C {
    border-color: orange;
    border-radius: 30px;
    box-shadow:
      0 0 0 10px blue,
      0 0 0 20px red,
      0 0 0 30px green;
  }
  
  /* Style for div#D */
  #D {
    border-color: brown;
    text-shadow: 4px 4px 4px black;
  }
  
  